.numberOfUnreadMessages {
  width: 30px;
  height: 30px;
  background-color: #C39CCF;
  border-radius: 10px;
  position: relative;
  left: 30px;
  text-align: center;
  margin: revert;
}
.number {
  position: relative;
  top: 10%;
}
.chat {
  width: 385px;
  height: 70px;
  display: -webkit-flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
}



.header {
  background-color: #8e24aa;
  width: 400px;
  height: 24px;
  border: 1px solid #5e1172;
}
.name {
  color: whitesmoke;
  font-size: 18pt;
}
.title {
  color: whitesmoke;
  margin: 0;
  width: 400px;
  height: 56px;
  font-size: 10pt;
  padding: 1px;
  background-color: #8e24aa;

  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.hr {
  width:320px;
  size: 1px;
  color: #8e24aa;

}
.result {
  color: #000080;
  font-size: 20px;
  width: 389px;
  min-height: 460px;
  background-color: #e4d7e8;

  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-between;
}
.resultForAuth {
  color: #000080;
  font-size: 20px;
  width: 400px;
  min-height: 460px;
  background-color: #e4d7e8;
  border: 1px solid #5e1172;


  display: -webkit-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.authForm {
  position: relative;
  left: 40px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #5e1172;
}

.result-scroll{
  border: 1px solid #5e1172;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 450px;
  width: 400px;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.users {
  color: #000080;
  font-size: 20px;
  width: 390px;
  height: 800px;
  background-color: #e4d7e8;
}


.cloud {
  background-color: #D6C3DC;
  border-radius: 15px;
  border: 5px solid #e4d7e8;
  padding: 5px;
  width: 200px;
  min-height: 20px;
  height: auto;
  word-wrap: break-word;

  display: -webkit-flex;
  flex-direction: column;
  margin-left: auto;
}

.interlocutorCloud {
  background-color: #C39CCF;
  border-radius: 15px;
  border: 5px solid #e4d7e8;
  padding: 5px;
  width: 200px;
  min-height: 20px;
  height: auto;
  word-wrap: break-word;

  display: -webkit-flex;
  flex-direction: column;
  margin-left: unset;
}

.addFileButton {
  width: 25px;
  height: 25px;
  overflow: hidden;
  background: transparent url('images/clip.png') no-repeat center top;
  position: absolute;
  top: 553px;
  left: 365px;
  text-indent: -1000em;
  cursor: pointer;
}
.addImageButton {
  width: 25px;
  height: 25px;
  overflow: hidden;
  background: transparent url('images/photo.png') no-repeat center top;
  position: absolute;
  top: 582px;
  left: 365px;
  text-indent: -1000em;
  cursor: pointer;
}

#form-input {
  width: 386px;
  min-height: 60px;
  padding-top: 20px;
  padding-left: 12px;
  border: 2px solid #000080;
}

.preview {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 5px solid #e4d7e8;
  background-color: #cbabd6;
  padding: 5px;

  min-height: 20px;
  word-wrap: break-word;

  display: -webkit-flex;
  flex-direction: column;
  margin-left: auto;
}
#enterButton{
  background: url('images/enter1.png') no-repeat;
  position: relative;
  top: -19px;
  left: 60px;
  width: 40px;
  height: 40px;
  text-indent: -1000em;
  border: 0;
  padding: 0;
}
#vkAuthButton {
  background: url('images/vk80.png') no-repeat;
  position: relative;
  left: -40px;
  width: 80px;
  height: 80px;
  text-indent: -1000em;
  border: 0;
  padding: 0;
}
#instaAuthButton {
  background: url('images/insta80.png') no-repeat;
  position: relative;
  left: 40px;
  top: -80px;
  width: 80px;
  height: 80px;
  text-indent: -1000em;
  border: 0;
  padding: 0;
}


#backButton {
  background: url('images/back.png') no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 40px;
  left: 12px;
  text-indent: -1000em;
  border: 0;
  padding: 0;
}

#searchButton {
  background: url('images/search.svg') no-repeat;
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  left: 65px;
  text-indent: -1000em;
  border: 0;
  padding: 0;
}

#menuButton {
  background: url('images/menu1.png') no-repeat;
  position: relative;
  width: 32px;
  height: 30px;
  overflow: hidden;
  left: 65px;
  text-indent: -1000em;
  border: 0;
  padding: 0;
}
#allMenuButton {
  background: url('images/menu2.svg') no-repeat;
  width: 20px;
  position: relative;
  left: -75px;
  height: 30px;
  overflow: hidden;
  text-indent: -1000em;
  border: 0;
  padding: 0;
}